body {
  font-family: Bison,sans-serif;
  margin: 0;
}
/*  */
header {
  background-image: url('https://www.barcelonacodeschool.com/files/pics/cur_files/squares.svg');
  height: 35vh;
  align-items: center;
  display: flex;
  padding-left: 10%;
}
header h1 {
  display: inline; 
}
/*  */
.navbarFull {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  font-weight: 300;
  padding: 1em 10%;
}
.navbarFull span a {
  color: white;
  text-decoration: none;
}
.navbarSmall {
  display: none;
}

/*  */
.landing {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-weight: 300;
  padding: 2em 10%;
}
.columnLeft {
  grid-column: 1 / 2;
  line-height: 1.5em;
}
.columnRight {
  grid-column: 2 / -1;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  box-shadow: -3px 3px #000;
}
.columnRight iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0 0 1em;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}
.columnLeft a {
  color: black;
}
.rrssLinks {
  font-size: 80%;
}
.rrssLinks span {
  margin-right: 1em;
}
.columnLeft button {
  width: auto;
  background-color: white;
  margin-top: 1em;
  padding: 0.5em;
  border: 1px solid black;
  font: inherit;
}
.columnLeft button a {
  text-decoration: none;
}
/*  */
.wantToBe {
  background-color: black;
  color: white;
  padding: 2em 10%;
}
.grid4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  line-height: 1.5em;
  font-weight: 300;
}
.wantToBe a {
  color: white;
}
/*  */
.yourWay {
  padding: 1em 10%;
  font-weight: 300;
  line-height: 1.5em;
}
.courseBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  margin: 0 0 1em 0;
  padding: 1em;
  border: 1px solid gray;
  box-shadow: -3px 3px #000;
}
.courseBox h3 {
  grid-column: 1 / -1;
  border-bottom: 1px solid black;
  margin: 0;  
  font-weight: 700;
}
.courseBox h5 {
  font-weight: 700;
  line-height: 1.2!important;
  letter-spacing: .03em;
}
.courseBox a {
  color: black;
}
/*  */
.yourWay img {
  width: 10vw;
}
/*  */
.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1.5em;
  line-height: 2em;
  font-weight: 300;
  font-size: 0.8em;
}
.grid3 h1 {
  font-size: 1.62671rem;
  font-weight: 700;
  line-height: 1.2!important;
  letter-spacing: .03em;
}
.grid3 p {
  margin: 0;
}
.noUnderline a {
  text-decoration: none;
}
.moreSpacing p {
  margin: 0 0 1em;
  line-height: 1.5em;
}
.copyright {
  margin-top: 4em;
  line-height: 2em;
  font-weight: 300;
  font-size: 0.8em;
}

@media all and (max-width: 800px) {
  .header {
    padding: 1em 2%;
    height: 20vh;
  }
  .landing {
    grid-template-columns: 1fr;
    padding: 1em 2%;
  }
  .columnRight {
    grid-column: 1 / 2;
    margin-top: 1em;
  }
  .wantToBe {
    padding: 2em 2% 5%;
  }
  .grid4 {
    grid-template-columns: 1fr;
    padding-left: 3%;
  }
  .courseBox {
    grid-template-columns: 1fr;
  }
  .grid3 {
    grid-template-columns: 1fr;
  }
  .navbarFull {
    display: none;
  }
  .navbarSmall {
    display: flex;
    background-color: black;
    color: white;
    height: 6.5vh;
  }
  .navbarSmall a {
    color: white;
  }
  .navbarSmall p {
    width: 100vw;
    font-weight: 300;
  }
  .navContainer {
    background-color: black;
    padding: 0 85vw 0 5vw;
  }
  .hamburger-content {
    display: none;
    position: absolute;
    left:0;
    z-index:1;
    background-color: black;
    color: white;
    padding: 1em;
  }
  .navbarSmall:hover .hamburger-content {
    display: block;
  /* animation: popup .5s ease-in-out both; */
  }
  .navbarSmall span {
    transition: transform .5s;
  -webkit-transition: -webkit-transform .5s;
    display: block;
    transform: rotate(90deg);
    height: 100%;
  }
  .navbarSmall:hover span {
    transition: transform .5s;
  -webkit-transition: -webkit-transform .5s;
    display: inline-block;
    transform: rotate(180deg);
  }
}


/* 
to start the host page BCS 'npm start'

LOOK FOR SHORTCUTS ON VSC

a:link
a:visited
a:hover
a:active
section #special h2:nth-child(3n+2) {
  color: orange
}

.intro::first-letter {font-size: 200%;}
.intro::first-line {font-size: 200%;} THIS ONE IS DYNAMIC

.story::before {
  content: 'Once upon a time, '
}
.story::after {
  content: ' and they lived happily.'
}
^ means starts with
$ means ends with
* means includes
a[href$=.'com']

block: they take the entire line
inline: they fill the line. we cannot change their width or height
inline-block acts as inline but allaws you to change width and height
div is block
span is inline

enter command takes 'some' space so if you put:
<div>I am div 1</div>
<div>I am div 2</div>

with display inline-block and 50% width they will not be on the same line.
we should do this:
<div>I am div 1</div><div>I am div 2</div>

box-sizing: content-box --> DEFAULT adds border and padding to content width and height
box-sizing: border-box --> the sum of border padding and content will equal width and height

if margins collide only the biggest one will be applied

border: width style color

grid: high level elements // two dimensional
flexbox: one direction

align-items: center; --> centers all the items
align-self: flex-start --> aligns only one element
justify-content: center --> centers horizontally
justify-self 


*/

